<h3 class="ui top attached header">
  Actions
</h3>
<div class="ui attached segment">

  <div class="ui form">
  <div class="fields">
    <div class="field">
      <input placeholder="Action" type="text">
    </div>
    <div class="field">
      <input placeholder="Action" type="text">
    </div>
    <div class="field">
      <input placeholder="Action" type="text">
    </div>
    <div class="field">
      <input placeholder="Action" type="text">
    </div>
    <div class="field">
      <input placeholder="Action" type="text">
    </div>
    <div class="field">
      <button class="ui green button">Add</button>
    </div>
  </div>
</div>

</div>