<div class="ui container">
</p>

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="info">
    New Task
  </a>
</div>
<div class="ui bottom tab attached segment active" data-tab="info">
  <%= render 'form'%>
</div>

</div>